.container {

  margin: 20px auto;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;

}
th {
  text-align: left;
}


#signup_errors {
color:red;
}

#login_errors {
color:red;
}

.main {
  padding: 0 0 0 80px;
  bottom: 200px;
  height: 350px;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  width: 550px;
  border-radius: 15px;
  background-color: #d9e5f2;
}

body {
  background-image: url('../rafikidisney.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
}

#frontpage_button {
  background: #519eec;
  border-radius: 10px;
}

#password {
  width: 150px;
}

