<form action="/survey/question/create_choices" method="POST">
  <p>Create Your Choices</p>
  <input type="text" name="choice1" placeholder="Enter a Choice"></br></br>
  <input type="text" name="choice2" placeholder="Enter a Choice"></br></br>
  <input type="submit" value="Create Choices">
</form>