<div id="survey_stats">
  <h3><%= "Survey: " + @survey.title %></h3>
    <% @questions.each do |q| %>
      <p><%= "For question: '" + q.prompt %></p>
        <% choices_for_questions(q).each do |c| %>
          <%= "'" + c.option + "' was chosen by " + selection_amount(c).to_s + " user(s)" %><br>
        <% end %>
      <% end %>
</div>