<div class="container">

  <h1>Welcome to Survery Baboon!</h1>
  <h3><%= "These are the params: #{params.inspect}" %></h3>
  <br>
  <h3><%= "The messages: #{@message}" %></h3>
  <br>
  <% @message = "you are already logged in" if current_user %>
  <% unless current_user %>
   <%= erb :__signup %>
   <%= erb :__login %> 

   <% end %>

 
 