
<div class="main">

<div class="inside_main">

  <h1><font color="Red">Welcome to Survey Baboon!</font></h1>
  <br>
  <% unless current_user %>
   <%= erb :__signup %>
   <%= erb :__login %> 

   <% end %>
</div>


<div class="baboon">
<image src="cyborg.jpg">
</div>
 
 </div>