<a href="/create_survey">CREATE SURVEY</a>

<div id="choose_surveys">
<p> Choose a survey: </p>
  <ul>
    <% @surveys.each do |s| %>
      <li><a href="/survey/take_survey/<%=s.id%>"><%= s.title %></a></li><br>
    <% end %>
  </ul>
</div>

<div id="created_surveys">
<p> See results for surveys you created: </p>
  <ul>
    <% @created_surveys.each do |c| %>
      <li><a href="/created_surveys/<%= c.id %>"><%= c.title %></a></li>
    <%end%>
  </ul>
</p>

<!-- <div id="chartdiv" style="height:400px; width: 20%;"></div>
<div id="chartContainer" style="height: 300px;, width: 20%;"></div> -->
<div id="hidden_survey"></div>